.boorivia-store {
    background-image: url(./assets/heading.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1100px;
    height: 210px;
    margin: 47px auto auto auto;
}

.products-wrapper{
    display: grid;
    grid-template-columns: 466px 466px;
    grid-template-rows: repeat(auto-fit, minmax(600px));
    grid-gap: 30px;
    justify-content: center;
}

.line-shop {
    display: flex;
}

.block {
    margin: 80px auto auto auto;
}

.img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 456px;
    height: 500px;
}

hr {
    border: 1px solid #FDA3C4;
    width: 410px;

}

.title-flex {
    display: flex;
    margin-top: 30px;
}

.title-flex h1 {
    font: 400 16px 'Montserrat';
    color: #1F1F1F;
    width: 295px;
    height: 40px;

}

.title-flex p {
    align-items: center;
    color: #FDA3C4;
    font: 700 24px 'Montserrat';
}

.like {
    background-image: url(./assets/сердце\ пустое.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 26px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10%;
}

.block-image {
    position: relative;
}