.categories .img-heading {
    background-image: url(./assets/heading.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1093px;
    height: 206px;
    margin: auto;
    margin-top: 50px;
}

.categories .wrapper-categories {
    display: grid;
    grid-template-columns: repeat(2, 456px);
    grid-template-rows: repeat(3, 600px);
    grid-column-gap: 21px;
    grid-row-gap: 20px;
    margin-left: 15%;
    margin-top: 70px;
}

.dress {
    grid-column: 1/2;
    grid-row: 1/2;
}

.sweatshirt {
    grid-column: 2/3;
    grid-row: 1/2;
}

.dress .dress-img {
    background-image: url(./assets/dress.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 466px;
    height: 600px;
}

.sweatshirt .sweatshirt-img {
    background-image: url(./assets/sweatshirt.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 466px;
    height: 600px;
}

.price {
    font: 700 24px 'Monteserrat';
    color: #FDA3C4;
    position: relative;
    top: -120px;
    left: 325px;
}

.categories p {
    font: 400 16px 'Monteserrat';
    color: #1F1F1F;
    position: relative;
    top: -93px;
    left: 22px;
    width: 255px;
}