.wrapper{
    padding: 15px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper .logo {
    background-image: url(./assets/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.header-wrapper .basket {
    background-image: url(./assets/icon-bag.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.wrapper nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.wrapper nav p {
    width: 10%;
    font: 600 16px 'Montserrat';
    color: #1F1F1F;
}

.wrapper nav p:hover{
    color: #FDA3C4;
    cursor: pointer;
}